email: xyz@xyz.com

service_secrets:
  traefik: {}

  syncbrowser: {}

  vaultwarden:
    PORT: 10030

  radicale:
    PORT: 10020
    USERS_FILE: /home/aditya/.config/radicale/users

  paperless-personal:
    PORT: 10050
    DB_USER: aditya
    DB_PASSWORD: changeme
    STORAGE_BOX: /mnt/storagebox/paperless-personal
