# Global
DATA_PATH={{ data_path }}
DOMAIN={{ domain }}
EMAIL={{ email }}

# Service secrets
{% set svc = item.name %}
{% if service_secrets[svc] is defined %}
{% for key, value in service_secrets[svc].items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
